apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-service-deploy-prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: catalog-service
  template:
    metadata:
      labels:
        app: catalog-service
    spec:
      containers:
      - name: catalog-service
        image: 204169839198.dkr.ecr.eu-west-1.amazonaws.com/catalog-service:1.1
        imagePullPolicy: Always
        ports:
        - containerPort: 9001
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 9001
          initialDelaySeconds: 20
          periodSeconds: 5
          timeoutSeconds: 2
          failureThreshold: 3   